body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* Set Home page content to appear in center of page instead of flush with left margin */
.homePage {
  display: flex;
  justify-content: center;
  margin: 4em;
}
.homeContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Fixed issue where navbar was displaying elements as a huge column,
instead of as a row, and without spacing in between, on a small screen */
.navbar-nav {
  display: flex;
  flex-direction: row;
  align-content: space-between;
}
.navbar-nav .nav-link {
  margin: 1em;
}

/* Fixed bug where the product components in All Products page where 
displaying products one on top of the other when the screen size 
was too small to fit all three rows of products */
div.card-columns {
  display: inline-block;
  align-content: wrap;
}

.cartItems {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2em;
  border: solid;
}
.cartItems img {
  height: 150px;
  width: auto;
  margin: 1em;
}
.cartItems div {
  margin: 1em;
}

.cartPageBtns {
  display: flex;
  justify-content: space-between;
  margin: 3em;
  padding: 0.5em;
}

.cartPageBtns link button {
  margin: 3em;
  padding: 0.5em;
}

.qtyForm {
  display: flex;
  flex-direction: column;
}

.checkoutForm {
  display: flex;
  flex-direction: column;
  margin: 1em;
  padding: 1em;
  border: dotted;
}

.checkoutForm button {
  margin: 3em;
  padding: 0.5em;
}

.checkoutForm .checkoutPageBtns {
  display: flex;
  justify-content: space-between;
  margin: 3em;
  padding: 0.5em;
}
